{
  "parser": "espree", // Use Espree as the parser for JavaScript
  "root": true, // Indicates this is the root configuration file
  "parserOptions": {
    "ecmaVersion": 2021, // Specify ECMAScript version
    "sourceType": "module" // Enable ECMAScript modules
  },
  "env": {
    "es6": true, // Enable ES6 globals
    "node": true, // Enable Node.js globals
    "jest": true, // Enable Jest globals for testing
    "browser": true // Enable browser globals
  },
  "extends": [
    "eslint:recommended",
    "plugin:prettier/recommended"
  ], // Extend recommended rules and Prettier integration
  "plugins": [
    "import",
    "sort-imports-es6-autofix"
  ], // Add additional plugins
  "rules": {
    "@typescript-eslint/explicit-module-boundary-types": "off", // Turn off explicit boundary types for TypeScript
    "import/order": [ // Define import order rules
      "error",
      {
        "groups": [
          [
            "external",
            "builtin"
          ],
          [
            "index",
            "internal",
            "sibling",
            "parent"
          ]
        ],
        "newlines-between": "always", // Require new lines between groups
        "alphabetize": {
          "order": "asc", // Alphabetize imports
          "caseInsensitive": true
        }
      }
    ]
  }
}